* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    text-decoration: double;
    color: #000;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main{
    margin: 0px 80px;
}

/* === MENU ==*/
header{
    border-bottom: 1px solid #ccc;
}

.menu, .sub-nav{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
    justify-content: flex-start;
}

.sub-nav{
    margin-top: 20px;
}

/* === PORTADA ==*/
.portada {
    height: 600px;
    background-image: url("./../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
    
}
.portada h1{
    color: #ff764d;
    background: transparent;
    font-weight: 100;
}

/* === DESCRIPTION ==*/
.description{
    margin: 80px 80px 20px 80px;
    line-height: 1.8;
    font-weight: 600;
}

.description + .mas-info{
    margin: 0 80px 20px 80px;
    font-size: 0.9rem;
    line-height: 1.7;
}

.description a {
    color: #0000ff;
    font-weight: bold;
}